body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #5086C1 0%, #77DD77  100%);
    color: white;
    text-align: center;
}

.menor{
    color: blue;

}
.mayor{
    color: black;
}

button{
    margin: 0px 0.5rem;
}