.card{
    display: flex;
    /**border: 3px solid #1565c0;**/
    width: 250px;
    margin: 10px 70px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #999999 ;
}
img{
    width: 2rem;
    padding: 5px;
}